network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s8:
      addresses:
        - 192.168.255.3/30
      routes:
        - to: 0.0.0.0/0
          via: 192.168.255.4
    enp0s9:
      addresses:
        - 192.168.56.10/24
    enp0s10:
      addresses:
        - 192.168.50.13/24